* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(../img/bg.jpg) no-repeat top center;
  line-height: 1.15;
}
header {
  height: 1.25rem;
  background: url(../img/head_bg.png) no-repeat;
  background-size: 100% 100%;
  position: relative;
}
header h1 {
  font-size: 0.475rem;
  color: #fff;
  text-align: center;
  line-height: 1rem;
}
header h2 {
  font-size: 0.375rem;
  color: #fff;
  text-align: center;
  line-height: 0.8rem;
}
header h3 {
  font-size: 0.2rem;
  color: #ccc;
  text-align: center;
  line-height: 0.3rem;
}
header .showTime {
  position: absolute;
  right: 0.375rem;
  top: 0;
  line-height: 0.9375rem;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.25rem;
}
.mainbox {
  display: flex;
  min-width: 1024px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0.125rem 0.125rem 0;
}
.mainbox .column {
  flex: 3;
}
.mainbox .column:nth-child(2) {
  flex: 4;
  margin: 0 0.125rem 0.1875rem;
  overflow: hidden;
}
.panel {
  height: 3.875rem;
  border: 1px solid rgba(25, 186, 139, 0.17);
  background: url(../img/line.png) rgba(255, 255, 255, 0.04);
  padding: 0 0.1875rem 0.5rem;
  margin-bottom: 0.1875rem;
  position: relative;
}
.panel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-left: 2px solid #02a6b5;
  border-top: 2px solid #02a6b5;
}
.panel::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-right: 2px solid #02a6b5;
  border-top: 2px solid #02a6b5;
}
.panel .panel-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.panel .panel-footer::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-left: 2px solid #02a6b5;
  border-bottom: 2px solid #02a6b5;
}
.panel .panel-footer::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-right: 2px solid #02a6b5;
  border-bottom: 2px solid #02a6b5;
}
.panel h2 {
  height: 0.6rem;
  color: #fff;
  line-height: 0.6rem;
  text-align: center;
  font-size: 0.25rem;
  font-weight: 400;
}
.panel .chart {
  height: 3rem;
}
.videoPlay {
  position: relative;
  padding: 0.4rem;
  width: 100%;
  border: 1px solid rgba(25, 186, 139, 0.17);
  margin: 0 auto;
}
.videoPlay p {
  font-size: 0.375rem;
  color: #fff;
  text-align: center;
  line-height: 1rem;
}
.videoPlay #id_test_video {
  position: absolute;
  margin: 0 auto;
  width: 8rem;
  height: 6rem;
  margin-top: 3rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
#pigVideo {
  display: none;
  position: absolute;
  margin: 0 auto;
  width: 8rem;
  height: 6rem;
  margin-top: 3rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
#changePigVideo {
  display: absolute;
  width: 3.25rem;
  font-size: 20px;
  color: #fff;
  border-radius: 0.175rem;
  background-color: #00BBFF;
  padding: 0.125rem 0.25rem;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 50%;
  transform: translateX(-50%);
}
#changePigVideo:active {
  display: absolute;
  width: 3.25rem;
  border-radius: 0.175rem;
  background-color: #0066FF;
  padding: 0.125rem 0.25rem;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 50%;
  transform: translateX(-50%);
}
#controlBox {
  z-index: 99;
  margin-top: 7.25rem;
}
#row {
  display: inline-block;
  display: absolute;
  margin-left: 50%;
  transform: translateX(-50%);
}
#row span {
  display: inline-block;
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 24px;
  text-align: center;
  justify-content: center;
  line-height: 50px;
  vertical-align: middle;
}
#row span#shang,
#row span#xia,
#row span#zuo,
#row span#you {
  background-color: #00BBFF;
  border-radius: 10%;
  cursor: pointer;
}
#row span#shang:active,
#row span#xia:active,
#row span#zuo:active,
#row span#you:active {
  background-color: #0066FF;
  border-radius: 10%;
  cursor: pointer;
}
#row span#login {
  font-size: 12px;
  background-color: rgba(134, 200, 178, 0.5);
  border-radius: 30%;
  margin: 10px;
}
#clickBox {
  display: none;
  padding: 0.05rem;
  position: absolute;
  width: 4.5rem;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.2rem;
  line-height: 0.25rem;
  vertical-align: middle;
}
#clickBox button {
  padding: 0.1rem;
  margin-left: 0.2rem;
  border-radius: 6px;
  outline: none;
  border: none;
  cursor: pointer;
}
#pig_reco_web {
  box-sizing: border-box;
  position: absolute;
  font-size: 20px;
  margin-left: 50%;
  margin-top: 2rem;
  transform: translateX(-50%);
  color: #fff;
  border-radius: 0.175rem;
  background-color: #00BBFF;
  padding: 0.125rem;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
