// css 初始化
// 初始化 less  
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background:url(../img/bg.jpg) no-repeat top center;
    line-height:1.15;
}
header{
    height: 1.25rem;
    // background-color: pink;
    background: url(../img/head_bg.png) no-repeat ;
    background-size: 100% 100%;
    position: relative;
    h1{
        font-size: 0.475rem;
        color: #fff;
        text-align: center;
        line-height: 1rem;
      }
      h2{
        font-size: 0.375rem;
        color: #fff;
        text-align: center;
        line-height: 0.8rem;
      }
      h3 {
        font-size: 0.2rem;
        color: #ccc;
        text-align: center;
        line-height: 0.3rem;
      }
    .showTime{
        position: absolute;
        right:.375rem;
        top: 0;
        line-height: .9375rem;
        color:rgba(255,255,255,0.7);
        font-size: 0.25rem;
    }
}

// 页面主体
.mainbox{
    display: flex;
    min-width: 1024px;
    max-width: 1920px;
    // background-color: pink;
    margin: 0 auto;
    // height: 6.25rem;
    padding: .125rem .125rem 0;
    .column{
        flex: 3;  
    }
    .column:nth-child(2){
            flex: 4;
            margin:0 .125rem .1875rem;
            overflow: hidden;
    }
}
// 公共表格样式
.panel{
    height: 3.875rem;
    // background-color: pink;
    border:1px solid rgba(25, 186, 139, 0.17);
    background: url(../img/line.png) rgba(255, 255, 255, 0.04);
    padding: 0 .1875rem .5rem;
    margin-bottom: .1875rem;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        border-left: 2px solid #02a6b5;
        border-top: 2px solid #02a6b5;
    }
    &::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 10px;
        height: 10px;
        border-right: 2px solid #02a6b5;
        border-top: 2px solid #02a6b5;
    }
    .panel-footer{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        &::before{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 10px;
            height: 10px;
            border-left: 2px solid #02a6b5;
            border-bottom: 2px solid #02a6b5;
        }
        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 10px;
            height: 10px;
            border-right: 2px solid #02a6b5;
            border-bottom: 2px solid #02a6b5;
        }
    }
    h2{
        height: .6rem;
        color: #fff;
        line-height: .6rem;
        text-align: center;
        font-size: .25rem;
        font-weight: 400;
    }
    .chart{
        height: 3rem;
        // background-color: pink;
    }
}

// .vid_box{

//         height: 7.5rem;
//         width: 8.5rem;
//         // background-color: pink;
//         // border:1px solid rgba(25, 186, 139, 0.17);
//         // background: url(../img/line.png) rgba(255, 255, 255, 0.04);
//         margin: .5rem auto;
//         p{
//             font-size: 0.375rem;
//             color: #fff;
//             text-align: center;
//             line-height: 1rem;
//         }
//         #id_test_video{
//             position: absolute;
//             margin: 0 auto;
//             top: 1rem;
//             left: 0.1rem;
//             // right: 0.25rem;
//             width: 8rem;
//             height: 6rem;
//             // background-color: pink;

//         }
// }

.videoPlay{
    // background-color: pink;
    position: relative;
    padding: .4rem;
    width: 100%;
    // height: 60%;
    border:1px solid rgba(25, 186, 139, 0.17);

    margin: 0 auto;
    p{
        font-size: 0.375rem;
        color: #fff;
        text-align: center;
        line-height: 1rem;
    }
    #id_test_video{
        position: absolute;
        margin: 0 auto;
        width: 8rem;
        height: 6rem;
        // background-color: pink;
        margin-top: 3rem;
        left: 50%; transform: translate(-50%, -50%); 
        
    }

}


#pigVideo{
    display:none;
    position: absolute;
    margin: 0 auto;
    width: 8rem;
    height: 6rem;
    // background-color: pink;
    margin-top: 3rem;
    left: 50%; transform: translate(-50%, -50%); 
    
}
// 控制切换样式
#changePigVideo{
    display:absolute;
    width: 3.25rem;
    font-size: 20px;
    color: #fff;
    border-radius: .175rem;
    background-color: #00BBFF;
    padding:0.125rem 0.25rem;
    outline: none;
	border: none;
	cursor: pointer;
    // margin:0.125rem auto;
    margin-left: 50%;
    transform: translateX(-50%);
}
#changePigVideo:active{
    display:absolute;
    width: 3.25rem;
    border-radius: .175rem;
    background-color: #0066FF;
    padding:0.125rem 0.25rem;
    outline: none;
	border: none;
	cursor: pointer;
    // margin:0.125rem auto;
    margin-left: 50%;
    transform: translateX(-50%);
    
}
    

// 3 X 3 按钮样式
#controlBox{
    z-index: 99;
    margin-top: 7.25rem;
}
#row{
    display:inline-block;
    // border:1px solid rgba(25, 186, 139, 0.17);
    display:absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    span{
        display:inline-block;
        width: 50px;
        height: 50px;
        
        color: #fff;
        font-size: 24px;
        text-align: center;
        justify-content: center;
        line-height: 50px;
        vertical-align: middle;
        
    }
    span#shang,span#xia,span#zuo,span#you{
        background-color: #00BBFF;
        border-radius: 10%;
        cursor: pointer;
    }
    span#shang:active,span#xia:active,span#zuo:active,span#you:active{
        background-color: #0066FF;
        border-radius: 10%;
        cursor: pointer;
    }
    span#login{
        font-size:12px;
        background-color: rgba(134, 200, 178,0.5);
        border-radius:30%;margin: 10px;
    }
}

// clickBox 切换按钮样式
#clickBox{
    display:none;
    padding: 0.05rem ;
    position: absolute;
    width:4.5rem;
    top: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.2rem;        
    line-height: 0.25rem;
    vertical-align: middle;
    

    // background-color: red;
    button{
        padding: 0.1rem;
        margin-left: 0.2rem;
        border-radius:6px;
        outline: none;
        border: none;
        cursor: pointer;
    }
}

#pig_reco_web{
    box-sizing: border-box;
    position:absolute;
    font-size: 20px;
margin-left:50%;
margin-top: 2rem;
transform: translateX(-50%);
    color: #fff;
    border-radius: .175rem;
    background-color: #00BBFF;
    padding:0.125rem;
    outline: none;
	border: none;
	cursor: pointer;
text-decoration: none;
    
}
